<div #about class="modal fade" id="MODALS.ABOUT" tabindex="-1" role="dialog" aria-labelledby="aboutTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="aboutTitle">About me</h5>
        <app-closing-cross data-bs-dismiss="modal"></app-closing-cross>
      </div>
      <div class="modal-body">
        <section>
          Motivated developer from Slovakia. <br>
          <br>
          Enjoys building software using interesting tools. <br>
          Aimed at JavaScript and technologies around this language. Prefers working on front-end, competent on
          back-end. <br>
          Gained a few years of experiences with Angular, SpringBoot framework and other technologies - either
          at full-time job as a software engineer, or at various
          personal projects.
        </section>

        <br>

        <section>
          As a self-taught developer I had the chance to broaden my horizons by studying management of small and medium
          sized businesses where I hold master's degree. During my studies I become passionated about programming. <br>
          I like sports, volunteering and enjoy sparing free time fishing. I played trumpet since six years old.
          Gradually, I
          switched from rhythms to algorithms.
        </section>

        <br>

        <section>
          I am positive minded and like new challenges.
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>