<div #about class="modal fade" id="MODALS.ABOUT" tabindex="-1" role="dialog" aria-labelledby="aboutTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="aboutTitle">About me</h5>
        <app-closing-cross data-bs-dismiss="modal"></app-closing-cross>
      </div>
      <div class="modal-body">
          <section>
            I am a motivated developer from Slovakia who enjoys building software using interesting tools, with a focus on JavaScript and technologies around this language. I prefer working on the front-end, but am also competent on the back-end. Over the years, I have gained experience with Angular, the Spring Boot framework, and other technologies, both at my full-time job as a software engineer and through various personal projects.
          </section>

          <br>
          
          <section>
            As a self-taught developer, I have had the chance to broaden my horizons by studying the management of small and medium-sized businesses, for which I hold a master's degree. During my studies, I became passionate about programming. In my free time, I enjoy playing sports, mountain biking, volunteering, and fishing. I have played the trumpet since I was six years old, but gradually switched from rhythms to algorithms.
          </section>

          <br>

        <section>I am a positive-minded person who enjoys new challenges.</section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>