.menu-wrapper {
    width: max-content;
    justify-content: flex-start;
    margin: 0;
    padding: 0;

    li {
        min-width: 200px;
        list-style-type: none;
    }
}

.social-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

/* 575px and down */
@media only screen and (max-width: 575px) {
    .menu-wrapper {
        width: 100%;
        justify-content: center;
    }
}