$btn-height: 40px;

$valid-green: rgb(60, 188, 100, 0.6);
$invalid-red: rgba(250, 30, 15, 1);
$invalid-yellow: rgba(249, 191, 59, 1);

$background-black: rgba(0, 0, 0, 0.5);
$background-color-text-white: rgba(255, 255, 255, 0.7);

$background-black-focus: rgba(0, 0, 0, 0.7);
$background-color-focus-text-white: rgba(255, 255, 255, 0.8);